  <style>
    #calendar {
      max-width: 900px;
      margin: 50px auto;
    }
    .fc-event {
    cursor: pointer; 
  }

  </style>

  <h1 style="text-align:center;">Calendario de Eventos</h1>
  <div id="calendar">
    <!--Aquí se muestra el calendario con los eventos-->
  </div>


  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
  <script src="/js/calendario.js"></script> 